.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-primary); 
}

.main-content {
  flex: 1;
  padding: 20px 0;
  background-color: var(--color-background-primary); 
}

.container {
    background-color: var(--color-background-primary); 
}

:root, html.light {
    --color-background-primary: #f8f9fa; 
    --color-background-secondary: #ffffff; 
    --color-text-primary: #212529; 
    --color-border: #e9ecef;
    --color-link: #007bff;
    --color-card-shadow: rgba(0, 0, 0, 0.05);
}

/* Tema Escuro */
html.dark {
    --color-background-primary: #121212;
    --color-background-secondary: #1e1e1e;
    --color-text-primary: #f8f9fa;
    --color-border: #333333;
    --color-link: #90caf9;
    --color-card-shadow: rgba(255, 255, 255, 0.1);
}


body {
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
    transition: background-color 0.3s, color 0.3s;
    min-height: 100vh;
}

.auth-card, .review-card {
    background-color: var(--color-background-secondary); 
    border: 1px solid var(--color-border); 
    box-shadow: 0 2px 4px var(--color-card-shadow); 
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}